# Database Configuration
DB_USER=tanushreemiskin
DB_PASSWORD=Tanushree@123
DB_NAME=rbac_db

# Backend API Configuration
NODE_ENV=development
JWT_SECRET=your-jwt-token-here
ADMIN_API_TOKEN=super-secret-admin-token
PORT=3001

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001

# MongoDB (Optional - if using MongoDB)
MONGO_URI=mongodb+srv://miskintanushree:currentele@clusterbackenddb.acjnx.mongodb.net/?appName=ClusterBackendDB
